In [17]:
## Load data
import pandas as pd ##imports pandas python package
housing_df = pd.read_csv('../../.venv/lib/Datasets/WestRoxbury.csv') ## load dataset into environment
housing_df['REMODEL'] = housing_df['REMODEL'].str.strip() ##strip whitespaces in remodel column
housing_df['REMODEL'] = housing_df['REMODEL'].fillna('None').replace('', 'None') ##replace missing values with none

In [18]:
##housing_df.shape() ##find the dimensions of the data frame
housing_df.head() ##show first 5 rows of data
print(housing_df)##prints all rows and columns in dataset

      TOTAL VALUE    TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0            344.2  4330       9965      1880         2436         1352
1            412.6  5190       6590      1945         3108         1976
2            330.1  4152       7500      1890         2294         1371
3            498.6  6272      13773      1957         5032         2608
4            331.5  4170       5000      1910         2370         1438
...            ...   ...        ...       ...          ...          ...
5797         404.8  5092       6762      1938         2594         1714
5798         407.9  5131       9408      1950         2414         1333
5799         406.5  5113       7198      1987         2480         1674
5800         308.7  3883       6890      1946         2000         1000
5801         447.6  5630       7406      1950         2510         1600

      FLOORS   ROOMS  BEDROOMS   FULL BATH  HALF BATH  KITCHEN  FIREPLACE  \
0         2.0      6          3          1          1        1          0
1         2.0     10          4          2          1        1          0
2         2.0      8          4          1          1        1          0
3         1.0      9          5          1          1        1          1
4         2.0      7          3          2          0        1          0
...       ...    ...        ...        ...        ...      ...        ...
5797      2.0      9          3          2          1        1          1
5798      2.0      6          3          1          1        1          1
5799      2.0      7          3          1          1        1          1
5800      1.0      5          2          1          0        1          0
5801      2.0      7          3          1          1        1          1

     REMODEL
0       None
1     Recent
2       None
3       None
4       None
...      ...
5797  Recent
5798    None
5799    None
5800    None
5801    None

[5802 rows x 14 columns]

In [19]:
## Renaming Columns
housing_df = housing_df.rename(columns={'TOTAL VALUE':'TOTAL_VALUE'}) #rename a single column
housing_df.columns = [s.strip().replace(' ', '_') for s in housing_df.columns] ##rename multiple columns that satisfy the same conditions
print(housing_df.columns) ##print column names of dataframe

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [20]:
##showing specific rows of data
housing_df.loc[0:3] ##shows first 4 rows of data
housing_df.iloc[0:4] ##shows first 4 rows of data

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None

In [21]:
##Different ways to show a # of rows in a single column
housing_df['TOTAL_VALUE'].iloc[0:10]
housing_df.iloc[0:10]['TOTAL_VALUE']
housing_df.iloc[0:10].TOTAL_VALUE

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [22]:
##Different ways to show the 5th row and the first 10 columns
housing_df.iloc[4][0:10]
housing_df.iloc[4, 0:10]['TOTAL_VALUE']
housing_df.iloc[4:5, 0:10]['TOTAL_VALUE']

4    331.5
Name: TOTAL_VALUE, dtype: float64

In [23]:
##Combining non-consecutive columns
pd.concat([housing_df.iloc[4:6,0:2], housing_df.iloc[4:6,4:6]], axis=1)

   TOTAL_VALUE   TAX  GROSS_AREA  LIVING_AREA
4        331.5  4170        2370         1438
5        337.4  4244        2124         1060

In [24]:
##To specify a full column to be shown
housing_df.iloc[:,0:1]
housing_df.TOTAL_VALUE
housing_df['TOTAL_VALUE'][0:10] #shows first 10 rows of the TOTAL_VALUE column

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [25]:
##DESCRIPTIVE STATISTICS
print('Number of rows is ', len(housing_df['TOTAL_VALUE'])) ##gives number of rows in column selected
print('Mean of TOTAL_VALUE ', (housing_df['TOTAL_VALUE'].mean())) ##gives average value of all observations in a column
housing_df.describe() ##shows summary statistics of the dataset

Number of rows is  5802
Mean of TOTAL_VALUE  392.6857149258877

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.686057,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.477994,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,15.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

In [26]:
##Important python package imports
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
##Code for sampling and over/under sampling
housing_df.sample(5) ##random sample of 5 observations
##oversample for houses with more than 10 rooms
weights = [0.9 if ROOMS > 10 else 0.01 for ROOMS in housing_df.ROOMS] ##creates weights to select and influence what is included in the sample, oversampling in this case
housing_df.sample(5, weights=weights) ##create the sample dataframe with weights

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
1273,311.0,3912,9331,1950,1656,828,1.0,4,2,1,0,1,1,None
2888,560.2,7047,15690,1890,5052,2780,2.0,11,6,2,0,1,1,None
2909,730.1,9184,8631,1907,5722,3250,2.0,12,5,2,1,1,2,None
3556,371.9,4678,7515,1960,2388,1265,1.5,6,3,2,0,1,1,None
3338,540.0,6793,8750,1940,3567,2342,2.0,11,3,2,1,1,1,None

In [27]:
##Convert REMODEL variables to categorical variables
##Use to review variables for change
housing_df.REMODEL = housing_df.REMODEL.astype('category')
housing_df.REMODEL.cat.categories
housing_df.REMODEL.dtype

CategoricalDtype(categories=['None', 'Old', 'Recent'], ordered=False, categories_dtype=object)

In [28]:
##Creating binary dummies
housing_df = pd.get_dummies(housing_df, prefix_sep='_', drop_first=True) ##use drop_first=True to drop first dummy variable, creates new columns with dummy variables
housing_df.columns ##check for name of new columns
housing_df.loc[:, 'REMODEL_Old':'REMODEL_Recent'].head(5) ##pulls both columns side by side with the first 5 rows (observations)

   REMODEL_Old  REMODEL_Recent
0        False           False
1        False            True
2        False           False
3        False           False
4        False           False

In [29]:
##Impute missing values with median value of a column
##Add missing values to bedrooms column
missingRows = housing_df.sample(10).index
housing_df.loc[missingRows, 'BEDROOMS'] =np.nan
housing_df.count()

TOTAL_VALUE       5802
TAX               5802
LOT_SQFT          5802
YR_BUILT          5802
GROSS_AREA        5802
LIVING_AREA       5802
FLOORS            5802
ROOMS             5802
BEDROOMS          5792
FULL_BATH         5802
HALF_BATH         5802
KITCHEN           5802
FIREPLACE         5802
REMODEL_Old       5802
REMODEL_Recent    5802
dtype: int64

In [30]:
##To remove rows with missing values
reduced_df = housing_df.dropna()
len(reduced_df)

5792

In [31]:
##replace missing values using the median value
medianBedrooms = housing_df['BEDROOMS'].median()
housing_df.BEDROOMS = housing_df.BEDROOMS.fillna(value=medianBedrooms)
housing_df['BEDROOMS'].count()

np.int64(5802)

In [32]:
##Creating Data Partitions
##Create 2 data partitions: training (60%) and validation (40%)
trainData, validData = train_test_split(housing_df, test_size=0.4, random_state=1)
print('Training data shape: ', trainData.shape)
print('Validation data shape: ', validData.shape)
print()

Training data shape:  (3481, 15)
Validation data shape:  (2321, 15)

In [33]:
##Create 3 data partitions: training (50%), validation (30%) and test (20%)
trainData, temp = train_test_split(housing_df, test_size=0.5, random_state=1)
validData, testData = train_test_split(temp, test_size=0.4, random_state=1)
print('Training data shape: ', trainData.shape)
print('Validation data shape: ', validData.shape)
print('Test data shape: ', testData.shape)

Training data shape:  (2901, 15)
Validation data shape:  (1740, 15)
Test data shape:  (1161, 15)